<html lang='EN'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <script src='https://cdn.tailwindcss.com'></script>
  </head>
  <body id='body' class='{{backgroundFilter}} text-gray-100'>
    <div
      class='bg-black-900 relative flex w-full flex-col justify-center space-y-10 bg-opacity-50 bg-clip-padding p-16 backdrop-blur-3xl backdrop-filter'
      style='width: {{width}}px; height: {{height}}px'
    >
      <div
        class='relative grid items-center whitespace-nowrap rounded-lg bg-gray-900 py-2 px-3 font-sans text-xl font-bold uppercase text-white w-fit'
      >
        <span>{{type}}</span>
      </div>
      <h1 class='text-6xl font-bold leading-[1.3]'>{{title}}</h1>
      <div class='flex items-center space-x-6'>
        <img src='{{authorPic}}' class='h-24 w-24 flex-none rounded-full border-4 border-gray-200' />
        <div class='flex flex-col gap-1'>
          <p class='mb-1 text-3xl font-semibold text-gray-300'>{{authorName}}</p>
          <p class='text-2xl font-semibold tracking-wide text-gray-300'>{{authorBio}}</p>
          <p class='text-2xl font-semibold tracking-wide text-gray-300'>{{authorTwitter}}</p>
        </div>
      </div>
    </div>
  </body>
</html>