<html lang='EN'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <script src='https://cdn.tailwindcss.com'></script>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

      h1 {
        font-size: 10vh !important;
        text-shadow:
          0 0 6px rgba(202, 228, 225, 0.98),
          0 0 30px rgba(202, 228, 225, 0.42),
          0 0 12px rgba(30, 132, 242, 0.58),
          0 0 22px rgba(30, 132, 242, 0.84),
          0 0 38px rgba(30, 132, 242, 0.88),
          0 0 60px rgba(30, 132, 242, 1);
      }

      p {
        font-size: 6.5vh !important;
        font-family: 'Sacramento', cursive;
      }

      span {
        font-size: 3.5vh !important;
        text-shadow:
          0 0 5px #ffa500,
          0 0 15px #ffa500,
          0 0 20px #ffa500,
          0 0 40px #ffa500,
          0 0 60px #ff0000,
          0 0 10px #ff8d00,
          0 0 98px #ff0000;
      }
    </style>
  </head>
  <body id='body' class='{{backgroundFilter}} text-white'>
    <div
      class='bg-black-900 relative flex w-full flex-col justify-center space-y-10 bg-opacity-50 bg-clip-padding p-16 backdrop-blur-3xl backdrop-filter'
      style='width: 80%; height: {{height}}px; margin-left: 4vw;'
    >
      <span class='relative whitespace-nowrap py-2 px-3 font-bold uppercase text-white'>{{type}}</span>
      <h1 class='font-bold leading-none	uppercase'>{{title}}</h1>
      <div class='flex flex-col gap-1 font-bold tracking-wide'>
        <p>{{authorName}}</p>
      </div>
    </div>
  </body>
</html>